.labelField{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.label{
    text-transform: capitalize;
    color: white;
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 600;
}

.textarea{
    padding: 15px;
    outline: none;
    border: 1px solid #3a3a43;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 14px;
    border-radius: 10px;
}

.input{
    padding: 13px;
    outline: none;
    border: 1px solid #3a3a43;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 14px;
    border-radius: 10px;
}