.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 100vh;
  background-color: #131417;
  padding: 30px;
}

.sidebarTitle{
    color: #616161;
    font-weight: 500;
    margin: 10px 0;
    font-size: 14px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

a {
  color: #aeaeae;
  font-size: 14px;
  padding: 5px 12px;
  border-left: 2px solid #2c2c2c;
}

a:hover {
    color: #f1f1f1;
    border-left: 2px solid #d6d6d6;
}


.active {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 12px;
  border-left: 2px solid #f213a4 !important;
}


